table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.codigo a {
    color: green;
}

.Num{
    display: flex;
    justify-content: flex-end;
}

.Num a{
    color: black;
}

.Num a:first-child {
    font-weight: bold;
}

.volver {
    display: block;
    text-align: right;
}

.navegacion span{
    color:hsl(162, 16%, 43%);
}

.contenedor {
    display: flex;
    gap: 10px;
}

.imagen{
    flex: 1;
}


.imagen img {
    width: 100%;
}

.info {
    flex:1;
}

.fabricante {
    font-weight: bold;
    color: gray;
}

.nombre {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nombre::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 20px;
    background-color: hsl(162, 16%, 43%);
    margin-right: 10px
}

.pvp {
    font-size: 28px;
    font-weight: bold;
}

.btn-editar {
    background-color: #ff758f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
}

.btn-editar:hover {
    background-color: #ff5271;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card-layout__codigo{
     float: left;
    color:#cccccc;
}

.card-layout__item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 100%;
    border: 1px solid #ddd;
}

.card-layout__item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-layout__item input {
    background-color: #ff758f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}






