#mapId { 
  height: 512px;
  width: 512px;
  margin: 1rem auto;
}

#btnUbicacion {
    font-weight: bold;
    position: absolute;
    bottom: 250px;
    right: 200px;
    cursor: pointer;
    background: #ff7e94;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}
