.title {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
}

.exception-message {
    padding-left: 1.5rem;
}

.exit-link {
    position: fixed;
    right: 300px;
}

.exit-link-anchor {
    color: #ffb6c1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
footer {
    display: none !important;
}

.filtros-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filtros-container label {
    font-weight: bold;
    color: #696969;
}

.filtros-container select, .filtros-container button {
    padding: 0.3em 0.6em;
}

.btn-filtrar {
    cursor: pointer;
    background-color: #ff7e94;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.btn-filtrar:hover {
    background-color: #ff607a;
}

.filtros-titulo {
    color: #444;
    font-size: 1.2em;
}

.filtros-wrapper {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}