.card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.card-layout__item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 350px;
}

.card-layout__item img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
}

.card-layout__codigo {
    float: left;
    color: #cccccc;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.imagen-izquierda {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imagen-izquierda img {
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.navegacion span{
    color:hsl(162, 16%, 43%);
}

.ped_codigo {
    color: green;
}

.contenedor {
    display: flex;
    gap: 40px;
}

.imagen {
    flex: 1;
    text-align: center;
    
}

.volver {
    float: right;
    padding: 5px 10px;
}

.cambiar-foto {
    font-weight: bold;
}

.info h3 {
    color: grey;
}

.info {
    flex: 1;
}

.label-form {
    font-weight: bold;
    display: block;
}

input, select, textarea {

    width: 100%;
    max-width: 600px;
    padding: 8px;
    margin-bottom: 20px;
}

#descripcion {
    resize: none;
}

#precio {
    max-width: 100px; 
}

.btn-editar {
    background-color: #ff758f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     max-width: 600px;
}

.btn-editar:hover {
    background-color: #ff5271;
}

.errores {
    background-color: red;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.errores ul {
    list-style-type: none;
    margin: 0;
}

.errores li {
    color: white;
}

.mensaje-exito {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.mensaje-exito p {
    margin: 0;
}

.img_error {
    float: left;
    width: 50%;
    margin-right: 20px;
}

.boton-salir {
    background-color: hsl(162, 16%, 43%);
    color: white !important;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-top: 20px; 
}

.boton-salir-container {
    text-align: center;
}

.contenedor .imagen img {
  width: 100%;
  height: 100%;
}
